In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np
import joblib
import string

In [2]:
(df) = joblib.load("2_Fusion/df_for_analysis.pkl" )
print( "Loaded %d X %d dataframe" % (len(df), len(df.columns) ))

Loaded 4720 X 12 dataframe

In [3]:
df['prepro_title'] = " " + df['prepro_title'] + " "

### Create new dataframe containing one row for each country mentionned per paper

In [4]:
UNSD_Path = "2_Fusion/1_Extraction/UNSD_database.xlsx"
UNSD_df = pd.read_excel(UNSD_Path, encoding='utf-8')
print( "Loaded %d X %d dataframe" % (len(UNSD_df), len(UNSD_df.columns) ))

Loaded 259 X 19 dataframe

In [5]:
UNSD_df.head(1)

,Global Code,Global Name,Region Code,Region_Name,Sub-region Code,Sub-region_Name,Intermediate Region Code,Intermediate_Region_Name,Country0,Demonym1,Demonym2,M49 Code,ISO_3,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS),Developed_Developing_Countries,Region,Country
0,1.0,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Algeria,Algerian,NaN,12,DZA,NaN,NaN,NaN,Developing,Africa,Algeria

We create a new dataframe where we concatenate all the sub-dataframes corresponding to each country

In [6]:
df_country = pd.DataFrame()
table_remove_punct_white_space = str.maketrans(string.punctuation, ' '*len(string.punctuation))

We transform the 'Country0' column to preprocess punctuation as in the title (e.g. for CÃ´te d'Ivoire)

In [7]:
for index, row in UNSD_df.iterrows():
    country = str(row['Country0'])
    country_low = country.lower().translate(table_remove_punct_white_space)
    country_low = ' '.join(country_low.split())
    country_low = ' ' + country_low + ' '
    demon1 = str(row['Demonym1'])
    demon1_low = ' ' + demon1.lower() + ' '
    demon2 = str(row['Demonym2'])
    demon2_low = ' ' + demon2.lower() + ' '
    if (demon1 == "nan") & (demon2 == "nan"):
        df_tempo = df[df['prepro_title'].str.contains(country_low)].copy()
        df_tempo['Country0'] = country
        df_country = df_country.append(df_tempo)
    elif (demon1 != "nan") & (demon2 == "nan"):
        df_tempo = df[df['prepro_title'].str.contains(country_low) | df['prepro_title'].str.contains(demon1_low)].copy()
        df_tempo['Country0'] = country
        df_country = df_country.append(df_tempo)
    else:
        df_tempo = df[df['prepro_title'].str.contains(country_low) | df['prepro_title'].str.contains(demon1_low)| df['prepro_title'].str.contains(demon2_low)].copy()
        df_tempo['Country0'] = country
        df_country = df_country.append(df_tempo)        
print("%d X %d dataframe with one line for each country search" % (len(df_country), len(df_country.columns) ))

4928 X 13 dataframe with one line for each country search

### Create region & ISO-3 columns

In [8]:
df_country = pd.merge(df_country,UNSD_df[['Country0','ISO_3','Region']],on='Country0')

### Remove duplicates according ISO-3 code

In [9]:
df_country = df_country.drop_duplicates(['ISO_3','title'], keep='first')
print("%d X %d dataframe" % (len(df_country), len(df_country.columns) ))

4914 X 15 dataframe

### Create horizon year

In [10]:
df_verif = df_country.copy()
df_verif.reset_index(0,inplace=True)

In [11]:
df_verif['horizon_year'] = np.nan

In [12]:
year_liste = []
for k in range (2025, 2101):
    year_liste.append(k)

In [13]:
for year in year_liste:
    year = str(year)
    presence_title = df_verif.title.str.contains(year, regex = False, na = False)
    presence_abstract = df_verif.abstract.str.contains(year, regex = False, na = False)
    presence_authorkeywords = df_verif.author_keywords.str.contains(year, regex = False, na = False)
    for k in range(len(df_verif)):
        if ((presence_title[k]== True) or (presence_abstract[k]== True) or (presence_authorkeywords[k]== True)) :
            df_verif.loc[k,'horizon_year'] = year

### Select only rows that contains a horizon year in [2025;2100] in title, abstract or AUTHOR keywords

In [14]:
df_no_horizon_year = df_verif[df_verif.horizon_year.isnull()]
df_no_horizon_year.to_excel('no_horizon_year.xlsx')

In [15]:
df_verif = df_verif[df_verif.horizon_year.notnull()]
print( "%d X %d dataframe with horizon_year" % (len(df_verif), len(df_verif.columns) ))

4908 X 16 dataframe with horizon_year

#### Associate to ISO3 one only name (USA, United States, US, U.S. -> Country = United States of America)

In [16]:
UNSD_unique = UNSD_df.groupby('ISO_3').first().reset_index()
df_verif = pd.merge(df_verif, UNSD_unique[['ISO_3','Country']],on='ISO_3')

#### Check for US papers : ambiguity between country and personal pronoun 'us'

In [17]:
check = df_verif[(df_verif['prepro_title'].str.contains(' us ')) & 
                 (~df_verif['prepro_title'].str.contains(' the us ')) & 
                 (~df_verif['title'].str.contains('US')) & 
                 (df_verif['Country0']=="US")]

In [18]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'max_colwidth', -1):
    print (check['title'])

962     Hybrids are an effective transitional technology for limiting us passenger fleet carbon emissions
970     What do global climate models tell us about future arctic sea ice coverage changes?
975     CurrentÂ fossil fuel infrastructure does not yet commit us to 1.5 Â°C warming
988     Pursuing necessary reductions in embedded GHG emissions of developed nations: Will efficiency improvements and changes in consumption get us there?
1018    Limiting global warming to 2Â Â°C: What do the latest mitigation studies tell us about costs, technologies and other impacts?
1030    What are incident reports telling us? A comparative study at two Australian hospitals of medication errors identified at audit, detected by staff and reported to an incident system
1035    How negative can biofuels with CCS take us and at what cost? Refining the economic potential of biofuel production with CCS using spatially-explicit modeling
1038    What do greenhouse gas scenarios tell us?
1057    A comparative assessment of electric propulsion systems in the 2030 us light-duty vehicle fleet
Name: title, dtype: object

In [19]:
df_verif = df_verif.drop([970,975,988,1018,1030,1035,1038])
print("%d X %d dataframe after verification" % (len(df_verif), len(df_verif.columns) ))

4901 X 17 dataframe after verification

#### Check for US papers : ambiguity between country and dollars 'US$'

In [20]:
check = df_verif[(df_verif['title'].str.contains("\$")) & 
                 (df_verif['Country']=="USA")]

In [21]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'max_colwidth', -1):
    print (check['title'])

986    Is LNG really a 'US$22 billion distraction'?
Name: title, dtype: object

In [22]:
df_verif = df_verif.drop([986])
print("%d X %d dataframe after verification" % (len(df_verif), len(df_verif.columns) ))

4900 X 17 dataframe after verification

#### Remove the attribution of papers containing the terms "British Colombia" to the UK

In [23]:
df_verif = df_verif.drop(df_verif[(df_verif['ISO_3'].str.contains("GBR")) & (df_verif.prepro_title.str.contains("british columbia"))].index)
print("%d X %d dataframe after verification" % (len(df_verif), len(df_verif.columns) ))

4887 X 17 dataframe after verification

#### Remove the attribution of papers containing the terms "New Jersey" to Jersey

In [24]:
df_verif = df_verif.drop(df_verif[(df_verif['ISO_3'].str.contains("JEY")) & (df_verif.prepro_title.str.contains("new jersey"))].index)
print("%d X %d dataframe after verification" % (len(df_verif), len(df_verif.columns) ))

4884 X 17 dataframe after verification

### Order the dataframe

In [25]:
df_multi = df_verif.copy()
print("%d X %d dataframe with one line for each country" % (len(df_multi), len(df_multi.columns) ))

4884 X 17 dataframe with one line for each country

In [26]:
col = ['ISO_3','Country','Region','title','authors','source','doi','doc_type','abstract','author_keywords','publication_year','horizon_year','scopus_number','WOS_number']
df_multi = df_multi.reindex(columns=col)
df_multi.sort_values(by = ['ISO_3','Country','publication_year','title','doi'], ascending = [True,True,False,True,True], inplace = True)
print( "Loaded %d X %d multi-rows dataframe" % (len(df_multi), len(df_multi.columns) ))

Loaded 4884 X 14 multi-rows dataframe

In [27]:
df_multi.to_excel('database_multi_rows_each_paper.xlsx')

### Database one row each paper

In [28]:
df_one = df_multi.groupby(['title']).first().reset_index()

In [29]:
col = ['ISO_3','Country','Region','title','authors','source','doi','doc_type','abstract','author_keywords','publication_year','horizon_year','scopus_number','WOS_number']
df_one = df_one.reindex(columns=col)
df_one.sort_values(by = ['ISO_3','Country','publication_year','title','doi'], ascending = [True,True,False,True,True], inplace = True)
print( "Loaded %d X %d one row each paper dataframe" % (len(df_one), len(df_one.columns) ))

Loaded 4691 X 14 one row each paper dataframe

In [30]:
df_one.reset_index(0,inplace = True)
df_one.drop('index',axis = 1, inplace = True)

In [31]:
df_one.to_excel('database_one_row_each_paper.xlsx')

### Store dataframe multi papers and dataframe unique paper

In [32]:
joblib.dump((df_multi, df_one), "2df_countries_title.pkl")

['2df_countries_title.pkl']

### Count papers from Scopus and WOS

In [33]:
df_only_scop = df_one[df_one.scopus_number.notnull() & df_one.WOS_number.isnull()]
print("%d papers only on Scopus" % len(df_only_scop) )

df_only_WOS = df_one[df_one.scopus_number.isnull() & df_one.WOS_number.notnull()]
print("%d papers only on WOS" % len(df_only_WOS) )

df_both = df_one[df_one.scopus_number.notnull() & df_one.WOS_number.notnull()]
print("%d papers on both Scopus and WOS" % len(df_both) )

944 papers only on Scopus
574 papers only on WOS
3173 papers on both Scopus and WOS

### Store dataframe with papers mentionning no country

In [34]:
df_all = df.merge(df_one, on=['title'], how='left', indicator=True)
df_rejected = df_all[~df_all._merge.isin(['both'])]
print("%d rejected papers" % len(df_rejected) )
df_rejected.to_excel('rejected.xlsx')

29 rejected papers